:root {
    --primary: #222;
    --primary-dark: #111;
    --primary-70: #555;
    --primary-50: #777;
    --primary-30: #aaa;
    --primary-10: #ddd;
    --logo: #222;
    --sidebar-icon: #fff;
}

.bg-grad-sidebar {
    background: #444;
}
